
<h2>
  <%=herokuVar %>
</h2>

<!DOCTYPE html> 
<html>

<head>
<h1>🍦Trowbridge's Mobile Order - Place Your Order Below!🍦</h1>
		<div class="tab_container">
			<input id="tab1" type="radio" name="tabs" checked>
			<label for="tab1"><i class="fa fa-code"></i><span>Welcome</span></label>

			<input id="tab2" type="radio" name="tabs">
			<label for="tab2"><i class="fa fa-pencil-square-o"></i><span>Menu</span></label>

			<input id="tab3" type="radio" name="tabs">
			<label for="tab3"><i class="fa fa-bar-chart-o"></i><span>Order</span></label>


<title>Trow Bridge Mobile Order</title>
  
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css">

</head>

<nav class="navbar navbar-expand-sm bg-light"> <!--Nav Bar-->
    <h1></h1>
</nav>

<body>
  
  <section id="content2" class="tab-content">
    <h3>ITEMS</h3>
    <div class="row">
      <div class="menu-card">
        <h2 class="card-title">Sandwiches</h2>
        <div class="card-body">
          <p>Ham -- $3.85</p>
          <p>Ham Salad -- $2.70</p>
          <p>Chicken Salad -- $2.70</p>
          <p>Pimento Cheese -- $2.70</p>
          <p>Egg & Olive -- $2.70</p>
          <p>Tuna -- $2.70</p>
          <p>Tomato & Lettuce -- $1.65</p>
          <p>Hot Dog -- $2.00</p>
          <p>Grilled Cheese -- $1.50</p>
          <p>Banana -- $1.65</p>
          <p>Turkey -- $3.85</p>
          <p>Biscuit/Jelly -- $0.75</p>
          <p>Ham & Buscuit -- $1.30</p>
        </div> <!--sandwiches !-->
      </div> <!--sandwiches !-->
      <div class="menu-card">
        <h2 class="card-title">Drinks</h2>
        <div class="card-body">
          <p>Hot Chocolate -- $1.10</p>
          <p>Milk -- $1.00</p>
          <p>Coffee -- $0.95</p>
          <p>Soft Drinks -- $1.15</p>
          <p>Tea -- $0.95</p>
          <p>Lemonade -- $0.95</p>
        </div> <!--drinks !-->
      </div> <!--drinks !-->
      <div class="menu-card">
        <h2 class="card-title">Malts/Shakes</h2>
        <div class="card-body">
          <p>Malts -- $2.70</p>
          <p>Shakes -- $2.60</p>
          <p>Large Chocolate Milk -- $1.30</p>
          <p>Small Chocolate Milk -- $1.10</p>
        </div> <!--Malts/Shakes !-->
      </div> <!--Malts/Shakes !-->
      <div class="menu-card">
        <h2 class="card-title">Ice Cream Soda</h2>
        <div class="card-body">
          <p>Cherry -- $2.00</p>
          <p>Strawberry -- $2.00</p>
          <p>Chocolate -- $2.00</p>
        </div> <!--Ice Cream Soda !-->
      </div> <!--Ice Cream Soda !-->
      <div class="menu-card">
        <h2 class="card-title">Sundaes</h2>
        <div class="card-body">
          <p>Banana Split -- $3.90</p>
          <p>Fruit Split -- $3.70</p>
          <p>Hot Fudge -- $2.80</p>
          <p>Hot Butterscoth -- $2.80</p>
          <p>Hot Caramel -- $2.80</p>
          <p>Fruit -- $3.05</p>
          <p>Cherry -- $2.75</p>
          <p>Pineapple -- $2.75</p>
          <p>Chocolate -- $2.75</p>
          <p>Strawberry -- $2.75</p>
        </div> <!--Sundaes !-->
      </div> <!--Sundaes !-->
</div>
<br>
<h1>ICE CREAM FLAVORS</h1>
<!-- partial -->
<div class="row">
    <div class="flavor-card">
      <div class="card-body">
        <p>Vanilla</p>
        <p>Chip Chocolate</p>
        <p>Peachy Peach</p>
        <p>Chocolate Caramel Cherry</p>
        <p>Rainbow Sherbet</p>
        <p>Cookie Dough</p>
      </div>
  </div>
    <div class="flavor-card">
      <div class="card-body">
        <p>Orange Pineapple</p>
        <p>O’Charley’s Caramel Pie</p>
        <p>Chocolate</p>
        <p>Strawberry</p>
        <p>Black Walnut</p>
        <p>Cookies & Cream</p>
      </div>
    </div>
    <div class="flavor-card">
      <div class="card-body">
        <p>Butter Pecan</p>
        <p>Cherry Vanilla</p>
        <p>Red Velvet Cake</p>
        <p>Chocolate Marshmallow Almond</p>
        <p>Sugarfree Vanilla</p>
        <p>Sugarfree Butter Pecan</p>
      </div>
        <!-- partial:index.partial.html -->
  
    <div class="icecream-card">
      <h2 class="card-title">Ice Cream Information</h2>
      <hr class="rounded">
      <div class="card-body">
        <p>Cones / per dip -- $1.10</p>
        <p>Dish -- $2.20</p>
        <p>1/2 Pint -- $2.20</p>
        <p>Pints -- $4.40</p>
        <p>Oh-My-Gosh -- $2.80</p>
      </div>
    </div>
  </div>  <!--Ice Cream Flavors-->
  </div>

  
  </section>

  <section id="content3" class="tab-content">
    <h3>Start order below:</h3>
    <div class="dropdown">
      <button class="dropbtn">Start Here</button>
      <div class="dropdown-content">
        <a href="#">Sandwiches</a>
        <a href="#">Drinks</a>
        <a href="#">Malts / Shakes</a>
        <a href="#">Ice Cream</a>
        <a href="#">Sundaes</a>
        <a href="#">Ice Cream Soda</a>
        
      </div>
    </div>

    <div class="order-card">
    <form method="POST" action="/addDrink">
      <label for="drink_name">Flavor: </label>
      <input name="drink_name" value="vanilla">
      <br>
      <label for="size">PRICE: </label>
      <input name="size" value="$2.99">
      <br>
      <input type="submit" value="Create" />
    </form>
  </div>
  
  <h3>Update your items</h3>
    <% for (var i=0; i< drinkData.length; i++ ) { %>
    <form method="POST" action="/updateDrink/<%= drinkData[i]._id %>" style="display: inline-block">
      <%= drinkData[i].drink_name %> (<%= drinkData[i].size %>)
        <input type="submit" value="Update">
    </form>
    <br>
    <% } %>
  
    <h3>Delete your items</h3>
    <% for (var i=0; i< drinkData.length; i++ ) { %>
    <form method="POST" action="/deleteDrink/<%= drinkData[i]._id %>" style="display: inline-block">
      <%= drinkData[i].drink_name %> (<%= drinkData[i].size %>)
        <input type="submit" value="Delete">
    </form>
    <br>
    <% } %>
  </div>
  </div>
</div>
  
    <br>
    <br>
    <br>
  </section>
  
  
  <div class="card-footer"><!--footer-->
    <div class="footer card">
      <div class="row">
        <div class="col-md-4">
          <h4>Author:</h4>
          <p>Nicole Reilly</p>
          <p>Katheryn White</p>
          <p>Lane Schmidt</p>
          <p>Kevin Salgado</p>
          <p>Maggie Little</p>
        </div>
        <div class="col-md-4">
          <h4>Links for you:</h4>
          <p><a href="https://gist.github.com/barrycumbie/bbf76cb219a3e7579de1607d7e91fceb">Class Page</a></p>
          <p><a href="https://github.com/nicolereilly">Nicole Reilly's GitHub</a></p>
          <p><a href="https://github.com/katherynisabell">Katheryn White's GitHub</a></p>
          <p><a href="https://github.com/lane30schmidt">Lane Schmidt's GitHub</a></p>
          <p><a href="https://github.com/kbrian5">Kevin Salgado's GitHub</a></p>
          <p><a href="https://github.com/mlittle98">Maggie Little's GitHub</a></p>
        </div>
        <div class="col-md-4">
          <h4>What makes this page work:</h4>
          <p><a href="https://github.com/nicolereilly/mobile-ordering">See The Code</a></p>
          <p><a href="https://github.com/users/nicolereilly/projects/1">Here is our project page</a></p>
          <p><a href="https://github.com/nicolereilly/mobile-ordering/wiki">Our Wiki</a></p>
        </div>
        <h6>Consider this the copyright. Nicole Reilly, Katheryn White, Lane Schmidt, Kevin Salgado, and Maggie Little Made This !</h6>
      </div>
    </div> 
  </div>
  <nav>  

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"></script>
</body>

</html>
