
<h2>
  <%=herokuVar %>
</h2>
<html>

<head>

  <link rel="stylesheet" href="styles/style.css">

</head>

<body>
  <nav class="navbar navbar-expand-sm bg-light"> <!--Nav Bar-->
    <h1>🍦Hi there, welcome to Trowbridge's mobile ordering system. Place your order down below!🍦</h1>
  </nav>


  <h2>Start order below:</h2>

  <form method="POST" action="/addDrink"> <!--Add Drink-->
    <label for="drink_name">Flavor: </label>
    <input name="drink_name" value="vanilla">
    <br>
    <label for="size">PRICE: </label>
    <input name="size" value="$2.99">
    <br>
    <input type="submit" value="Create" />
  </form>


  <h3>Update your items</h3>

  <% for (var i=0; i< drinkData.length; i++ ) { %>
  <form method="POST" action="/updateDrink/<%= drinkData[i]._id %>" style="display: inline-block">
    <%= drinkData[i].drink_name %> (<%= drinkData[i].size %>)
      <input type="submit" value="Update">
  </form>
  <br>
  <% } %>

  <h3>Delete your items</h3>

  <% for (var i=0; i< drinkData.length; i++ ) { %>
  <form method="POST" action="/deleteDrink/<%= drinkData[i]._id %>" style="display: inline-block">
    <%= drinkData[i].drink_name %> (<%= drinkData[i].size %>)
      <input type="submit" value="Delete">
  </form>
  <br>
  <% } %>


  <footer class=\"footer\"> 
    <p class=\"text-center\">Authors: Nicole Reilly, Katheryn White, Lane Schmidt, ect</p> 
  </footer> 
  
  <nav class="navbar navbar-expand-sm bg-light"> <!--Nav Bar-->
    <h1>🍦Hi there, welcome to Trowbridge's mobile ordering system. Place your order down below!🍦</h1>
  </nav>

  
</body>

</html>